@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266 53% 96%;
    --foreground: 262 47% 15%;
    --card: 266 53% 100%;
    --card-foreground: 262 47% 15%;
    --popover: 266 53% 100%;
    --popover-foreground: 262 47% 15%;
    --primary: 262 52% 47%;
    --primary-foreground: 266 53% 98%;
    --secondary: 266 53% 92%;
    --secondary-foreground: 262 47% 15%;
    --muted: 266 53% 92%;
    --muted-foreground: 262 40% 45%;
    --accent: 174 100% 29%;
    --accent-foreground: 174 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 266 20% 85%;
    --input: 266 20% 90%;
    --ring: 262 52% 47%;
    --radius: 0.5rem;
    
    --chart-1: 262 52% 47%;
    --chart-2: 174 100% 29%;
    --chart-3: 262 70% 60%;
    --chart-4: 174 80% 40%;
    --chart-5: 262 40% 30%;

    --sidebar-background: 262 35% 15%;
    --sidebar-foreground: 266 53% 92%;
    --sidebar-primary: 266 53% 98%;
    --sidebar-primary-foreground: 262 52% 47%;
    --sidebar-accent: 262 35% 25%;
    --sidebar-accent-foreground: 266 53% 98%;
    --sidebar-border: 262 35% 25%;
    --sidebar-ring: 262 52% 57%;
  }

  .dark {
    --background: 262 25% 10%;
    --foreground: 266 53% 96%;
    --card: 262 25% 12%;
    --card-foreground: 266 53% 96%;
    --popover: 262 25% 12%;
    --popover-foreground: 266 53% 96%;
    --primary: 262 52% 57%;
    --primary-foreground: 266 53% 98%;
    --secondary: 262 25% 20%;
    --secondary-foreground: 266 53% 98%;
    --muted: 262 25% 20%;
    --muted-foreground: 262 40% 65%;
    --accent: 174 80% 49%;
    --accent-foreground: 174 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 25% 25%;
    --input: 262 25% 25%;
    --ring: 262 52% 57%;
    
    --chart-1: 262 52% 57%;
    --chart-2: 174 80% 49%;
    --chart-3: 262 70% 70%;
    --chart-4: 174 80% 60%;
    --chart-5: 262 40% 40%;

    --sidebar-background: 262 25% 10%;
    --sidebar-foreground: 266 53% 92%;
    --sidebar-primary: 266 53% 98%;
    --sidebar-primary-foreground: 262 52% 47%;
    --sidebar-accent: 262 25% 20%;
    --sidebar-accent-foreground: 266 53% 98%;
    --sidebar-border: 262 25% 25%;
    --sidebar-ring: 262 52% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
